.container_img {
    margin-top: 20px;
}

img {
    width: 500px;
    position: relative;
    background: url("https://www.architetturaecosostenibile.it/images/stories/2016/promuoviamo-paesaggio-italiano.jpg");
}

.fas {
    position: absolute;
    top:40%;
    margin-left: 10px;
    font-size: 20px;
}

.lightblue {
    color: lightblue;
}

.red {
    color: red;
}